{{ define "content" }}

<form class="form-signin" role="form" action="/signup_account" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o"> 在线论坛 </i>
  </h2>
  <div class="lead">马上创建一个新账号</div>
  <input
    id="name"
    type="text"
    name="name"
    class="form-control"
    placeholder="请输入昵称"
    required
    autofocus
  />
  <input
    type="email"
    name="email"
    class="form-control"
    placeholder="请输入邮箱"
    required
  />
  <input
    type="password"
    name="password"
    class="form-control"
    placeholder="请输入密码"
    required
  />
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    立即注册
  </button>
</form>

{{ end }}
